
<%- include("partials/header") -%>

    <main id="app-container">
         
         <div id="icon">
         <p>-------</p>
         </div>

         <div id="temp">
         <p>-------</p>
         </div>

         <div id="climate">
         <p>-------</p>
         </div>
    </main>
    
<%- include("partials/footer") -%>
 
